{% extends "Inc/base.html" %}

{% block title %}My blog{% endblock %}

{% block content %}
    <main class="container">
        <ul class="home post-list">
            <li class="post-list-item">
                <article class="post-block">
                    <h2 class="post-title">
                        <a class="post-title-link" href="/">Hello 
                        </a>
                    </h2>
                    <div class="post-info">
                        <a></a>2017-06-18
                    </div>
                    <div class="post-content"></div>
                        <a class="read-more" href="/"></a>
                </article>
            </li>
        </ul>
    </main>
{% endblock %}